/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* ========================every to zero============================ */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.7;
   color: #777;
   padding: 30px;
}


/* ==================================================== */

.header {
   height: 95vh;
   background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc), url(../img/hero.jpg);
   background-size: cover;
   background-position: top;

   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
   position: relative;

}




.header-image {
   position: absolute;
   top: 45px;
   left: 45px;

}

.logo {
   height: 30px;
}

.header-box {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.header-main-h {
   display: block;
   color: #fff;
   text-transform: uppercase;
   font-weight: 400;
   letter-spacing: 35px;
   font-size: 60px;
   animation-name: moveRight;
   animation-duration: 1s;
   animation-delay: 0.5s;
   animation-iteration-count: 1s;
   animation-timing-function: ease-out;
}

.header-subh {
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 17.5px;
   font-size: 20px;
   font-weight: 700;
   display: block;
   animation-name: moveLeft;
   animation-duration: 1s;
   animation-delay: 0.5s;
   animation-iteration-count: 1s;
   animation-timing-function: ease-out;
   margin-bottom: 60px;

}



.header-btn {
   display: inline-block;
   position: relative;
}


.header-btn:hover {
   transform: translateY(-3px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.header-btn:active {
   transform: translateY(-1px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.header-btn:visited,
.header-btn:link {

   text-decoration: none;
   text-transform: uppercase;
   border-radius: 100px;
   padding: 15px 40px;
   transition: all .2s;




}


.white-btn {
   color: #777;
   background-color: #fff;

}


.header-btn::after {
   content: "";
   height: 100%;
   width: 100%;
   background-color: #fff;
   z-index: -1;
   transition: all .3s;
   position: absolute;
   top: 0;
   left: 0;
   border-radius: 100px;
}


.header-btn:hover::after {
   transform: scaleX(1.4) scaleY(1.6);
   opacity: 0;
}








/* ==============================Animations============================= */

@keyframes moveRight {
   0% {
      transform: translateX(-100px);
      opacity: 0;
   }

   80% {
      transform: translateX(10px);
      opacity: 100%;
   }

   100% {
      transform: translateX(0px);
   }
}


@keyframes moveLeft {
   0% {
      transform: translateX(100px);
      opacity: 0;
   }

   80% {
      transform: translateX(-10px);
      opacity: 100%;
   }

   100% {
      transform: translateX(0px);
   }
}






@keyframes moveBtnUp {
   0% {
      transform: translateY(35px);
      opacity: 0;
   }


   100% {
      transform: translateX(0px);
   }
}


.animated-bnt {
   animation: moveBtnUp 0.5s ease-out 0.75s;
   animation-fill-mode: backwards;

}