//mixins for colors

$main-color: #7ed56f;
$main-color-light: #55c57a;
$main-color-dark: #28b485;

$color-grey: #777;
$color-white: #ffffff;
$color-black: #000;

$color-grey-1: #f7f7f7;
$color-grey-2: #eee;
$color-grey-3: #999;



$second-color-yellow-light: #ffb900;
$second-color-yellow-dark: #ff7730;

$second-color-blue-light: #2998ff;
$second-color-blue-dark: #5643fa;



//defolt-font-size
$default-font-size: 1.6rem;


// mixins for size
$limit-for-block-size: 114rem;