//mixins for colors

$main-color: #7ed56f;
$main-color-light: #55c57a;
$main-color-dark: #28b485;

$color-grey: #777;
$color-white: #ffffff;
$color-black: #000;

$color-grey-1: #f7f7f7;


//defolt-font-size
$default-font-size: 1.6rem;


// mixins for size
$limit-for-block-size: 114rem;