.btn {
   &--white {
      color: $color-grey;
      background-color: $color-white;

   }

   &--animated {
      animation: moveBtnUp 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
   }
}